*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
}
/*This section is for index html*/
     body {
            font-family: Poppins, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
        nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00175F;
    color: #b0abba;
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
    height: 40px;
    margin-bottom: 30px;
}
nav div{
    margin-left: -120px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 500;
}
nav ul li{
    list-style: none;
    letter-spacing: 1;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

.slider-container{
    overflow: hidden; /* Hide overflow content */
    position: relative;
}

.si-lable::before{
    content: "";
}

        .slider-content{
            display: flex;
            align-items: center;
            transition: transform 0.3s ease;
            height: 250px;
            padding-left: 15px;
            width: auto;
            
        }
        .slider-item{ 
            min-width:350px; /* Width of each item */
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            color: rgb(0, 0, 0);

            background-color: #f3f3f3;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
      .match-box {
            padding: 10px;
            text-align: left;
            font-size: 10px;
            font-weight: 600;
            border-radius: 5px 5px 0 0;
            background-color: #cacaca;
        }
        .match-box span{
            background-color: #cacaca;
            font-size: 11px;
        }
    .live{
        color: red;
        font-size: 12px;
        font-weight: bold;
      }

        .team {
            display: flex;
            align-items: center;
            padding: 10px;
        }
        .t20{
            color: rgb(240, 12, 240);
            font-weight: 800;
            font-size: 12px;
        }
        .odi{
            color: hsl(178 76% 46%);
            font-weight: 800;
            font-size: 12px;
        }
        

        .team-name {
            font-size: 20px;
            font-weight: 500;
        }

        .score {
            font-size: 16px;
            font-weight: 700;
            margin-left: auto;
        }
        .fixture{
            font-size: 20px;
            padding: 8px;
            background-color: #b0abba;
            color: #00175F;
            text-align: center;
            font-weight: 500;
        }
        .upcoming{
            font-size: 20px;
            padding: 8px;
            background-color: #b0abba;
            color: #00175F;
            text-align: center;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .cf-matchcard-list{
            border: 2px #00175F solid;
            border-radius: 10px;
            box-shadow: 2px 2px #00000062;
            width: 95%;
            display: flex;
            margin: 13px auto;
            padding: 5px;
        }
        .cf-matchcard-list:hover{
            transform: scale(1.01);
        }
        .tour-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            padding: 10px;
            margin: auto 0;
        }
        .tour-section span{
            font-size: 11px;
            font-weight: 600;
            text-align: left;
        }
        .tour-section img{
            width: 50px;
            padding: 5px;
        }
        .mid-team{
            padding: 8px;
            border-left: 1px #00175F solid;
            border-right: 1px #00175F solid;
            display: flex;
            flex-direction: column;
            width: 40%;
        }
        .mid-score{
            display: flex;
            align-items: center;
            padding: 5px;
        }
        .mid-score img{
            width: 30px;
            margin-right: 20px;
            border: #302f2f1c 2px solid;
        }
        .mid-result{
            font-size: 14px;
            font-weight: 500;
            margin-left: 50px;
            font-style: italic;
        }
        .card-team-name{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1;
        }
        .match-centre{
            display: flex;
            align-items: center;
            margin: 0 auto;
        }
        .match-centre a{
            border: #00175F 2px solid;
            text-decoration: none;
            padding: 8px;
            color: #00175F;
            font-weight: 500;
            border-radius: 20px;

        }
        .month{
            padding: 8px;
            background-color: #00175F;
            color: #f5f5f5 ;
            font-weight: 600;
            text-align: center;
            font-size: 18px;
        }
        .tournament-section{
            display: flex;
            justify-content: space-evenly;
        }
/*this is end of the index css*/

.tabs{
    display: flex;
    margin: 20px;
    width: 1200px;
}
.month-tabs{
    display: flex;
    margin: 30px;
    font-size: 24px;
    max-width: 1000px;
}
.month-tab{
    border: #00175F 1px solid;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: #00175F 2px 2px ;
    height: 40px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 12;
    cursor: pointer;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #00175F;
    max-width: 500px;
    font-weight: 500;
}
.month-tab-content{
    display: none;
}
.tab-content{
    display: none;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 790px;
    margin-left: 100px;
}
.active-tab {
    background-color: #00175F;
    color: white;
}
#inning1 {
    display: block;
}
.top-matchinfo{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 250px;
    padding: 8px;
    background-color: #00175F89;
}
.match-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mc-time,.mc-detail,.mc-venue{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2;
    color: #fff;
    margin-bottom: 4px;
}
.mc-time,.mc-venue{
    font-weight: 300;
}
.mc-detail{
    font-weight: 600;
}
.live{
color: red;
font-size: 12px;
font-weight: bold;
}
.match-no{
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    left:3%;
    margin-top: -20px;
    top:auto;
    padding: 2px;
    color: #00175F;
    opacity: 0.2;
}
.match-no:hover{
    transform: scale(1.01);
    opacity: 0.3;
}
.match-time{
    position: absolute;
    left: 67%;
    margin-top: 40px;
}
.team {
    display: flex;
    align-items: center;
    padding: 10px;
}

.team img {
    width: 32px;
    margin-right: 10px;
    border: #302f2f1c 1px solid;
}

.team-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.score, .match-time {
    font-size: 20px;
    font-weight: 700;
    margin-left: auto;
}
.mc-match-center{
    width: 100%;
    height: 480px;
    background: linear-gradient(to top,#00185feb, #090d3feb), 
                        url('mc-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
}
.mc-card{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.overs{
    font-size: 14px;
    font-weight: 400;
    color: #302f2f;
    margin-right: 8px;
}
.lose{
    opacity: 0.6;
}
.final{

}
.final:hover{
    transform: scale(1.01);
}
.result {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    background-color: #d3d3d3;
    border-radius: 0 0 5px 5px;
}
.post-result{
    color: rgb(2, 52, 2);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #e8e6e6;
    border-bottom: green 5px solid;
    border-radius: 0 0 10px 10px;
}
table {
    max-width: 790px;
    background-color: #00175F;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00175F;
    color: white;
}
.table-gap{
    margin-bottom: 30px;
}
.cf-font-bold{
    font-weight: 700;
}
td, i{
    background-color: #b0abba;
}
.innings{
    margin-left: 100px;
    margin-bottom: 10px;
}
.tournament{
    margin: 0px auto;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.tournament img{
    width: 90px;
    padding: 10px;
    border-radius: 50px;
}
.tournament span{
    font-family: "Inconsolata", monospace;
    font-weight: 800;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.topbox{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.mc-team{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mc-team img{
    width: 50px;
    max-height: 28px;
    margin-right: 10px;
}
.mc-team-name{
    font-size: 34px;
    font-weight: 800;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.mc-score {
    font-size: 18px;
    font-weight: 700;
    margin-left: auto;
    color: #fff;
}
.mc-overs,.mc-runs{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.mc-team1{
    border-bottom: 1px solid #e5e7eb;
}
.mc-result{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}
.mc-footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 14px;
    max-width: 400px;
}
.mc-label{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 8px;
}
.player-wrapper{
    width: 350px;
    align-items: left;
    background-color: #afb0b113;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.player-info{
    opacity: 0.8;
    align-items: center;
    display: flex;
}
.player-info img{
    width: 40px;
    align-items: center;
}
.pom-info{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    line-height: 1;
}
.pl-score{
    color: #fff;
    font-size: 14px;
}
em{
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
.fname{
    font-weight: 300;
    font-size: 14px;
}
.lname{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.mc-runs{
    font-size: 20px;
    margin-right: 8px;
}
.mc-scoreboard{
    width: 100%;
    padding: 30px;

}
.current{
    display: block;
}
/*this is no schedule style*/
.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    text-transform: uppercase;
    font-size: 100px;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
    border: #1E2945 1px solid;
    box-shadow: #1e29458e 2px 2px;
    font-weight: 900;
    width: 80%;
    margin: 30px auto;
}
.active-tab::after{
    content: '';
    width: 0;
    bottom: -44px;
    left: -55px;
    position: relative;
    border: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid #00175F;
}
.active-month-tab{
    background-color: #00175F;
    color: #fff;
}
/* Navigation buttons */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #7e7e7e;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    opacity: 0.4;
    display: none;

}
.nav-button.show{
    display: block;
}
.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
}

.nav-button.left:hover, .nav-button.right:hover{
    opacity: 0.8;
}
